@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    color: #450070;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2%;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 80vh;
    background-color: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.column-left {
    position: relative;
    background-color: rgb(255, 245, 255);
    padding: 60px;
}
.column-right {
    position: relative;
    background-color: #fff;
    padding: 60px;
}

.img-box {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 8px;
}
#location {
    color: #fe3414;
    font-weight: 600;
    font-size: 16px;
}

p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

a {
    font-size: 14px;
    padding: 3px;
    text-decoration: none;
    color: #450070aa;
    font-weight: 500;
    transition: 0.5s;
}
a:hover {
    font-weight: 600;
    transition: 0.5s;
}

.contact-info {
    color: #450070;
    list-style: none;
    font-size: 16px;
    margin: 20px 0px;
    padding: 10px;
    align-items: center;
    border-top: 2px solid #450070aa;
    border-bottom: 2px solid #450070aa;
}
.contact-info ul {
    position: relative;
}
.contact-info ul li {
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}
.icon {
    display: inline-block;
    width: 25px;
    font-size: 18px;
    color: #450070;
}

.title {
    margin: 15px 0;
}

.education h3 {
    color: #450070cc;
    padding: 8px 0;
}
.education li {
    list-style: none;
}

.date {
    color: slategrey;
    font-size: 14px;
    font-weight: 500;
}