@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to bottom right, #320052, #450070);
    color: #450070;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2%;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 80vh;
    background-color: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.column-left {
    position: relative;
    background-color: rgb(255, 248, 255);
    padding: 60px;
}
.column-right {
    position: relative;
    background-color: #fff;
    padding: 60px;
    padding-top: 80px;
}

.img-box {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.location {
    color: #fe3414;
    font-weight: 600;
    font-size: 16px;
}
.intro {
    font-weight: 600;
    font-size: 16px;
}

p {
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: #450070aa;
    font-weight: 500;
    transition: 0.5s;
}
a:hover {
    color: #fe3414;
    font-weight: 600;
    transition: 0.5s;
}

.contact-info {
    color: #450070;
    list-style: none;
    font-size: 16px;
    margin-top: 16px;
    margin-left: -18px;
}

.icon {
    display: inline-block;
    width: 22px;
}
.icon-large {
    display: inline-block;
    width: 32px;
}

.title {
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.institution {
    color: rgba(71, 28, 28, 0.8);
    font-size: 14px;
    font-weight: 500;
}

h1 {
    font-size: 32px;
    margin-bottom: 8px;
}
h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    color: #450070dd;
    margin-top: 6px;
    font-weight: 600;
}
h4 {
    color: rgba(71, 28, 28, 0.7);
    margin: 2px 0;
    font-weight: 600;
}
ul {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
li {
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.65);
}
.content-block {
    margin: 12px;
}
.content-sub-block {
    margin-top: 20px;
}
.no-bullet {
    list-style: none;
}

.date {
    color: #ec0066;
    font-size: 13.5px;
    font-weight: 600;
}
.tag {
    background-color: #f10069;
    color: #fef;
    font-size: 12.5px;
    padding: 3px 6px;
    border-radius: 6px;
}
.pdf {
    background-color: rgb(255, 248, 255);
    color: #450070aa;
    padding: 10px;
    padding-left: 20px;
    font-weight: 500;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.pdf:hover {
    font-weight: 600;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1000px) {
    .container {
        margin: 10px;
        max-width: 860px;
        min-height: 80vh;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .column-left {
        padding: 24px;
    }
    .column-right {
        padding: 24px;
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

/* mobile */
@media screen and (min-width: 300px) and (max-width: 768px){
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .img-box {
        width: 160px;
        max-height: 120px;
        margin-left: 20px;
    }
    img {
        width: 80px;
        margin-left: 40px;
    }
    .column-left {
        padding: 40px;
    }
    .column-right {
        padding: 24px;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    h1 {
        text-align: center;
    }
    .location {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .intro {
        text-align: center;
    }
    .contact-info {
        margin-top: 20px;
    }
    li {
        margin-left: 14px;
    }
    .pdf {
        text-align: center;
        padding-left: 0px;
        background-color: #fff;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
    }
}